*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  height: 100vh;
  background: linear-gradient(180deg, #2d987b 13%, #e6e6db 13%);
  justify-content: center;
  align-items: center;
}
/* UTILITIES */
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.border{
  border: none;
}
.grow{
  flex-grow: 1;
}
.bg-gray{
  background-color: #ececec;
}
.s-between{
  justify-content: space-between;
  align-items: center;
}
.list-style li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  color: gray;
  font-size: 15px;
}
.align{
  align-items: center;
}
/* HOVERS */
.list-style li:hover{
  cursor: pointer;
  color: rgb(70,70,70);
  transition: 0.3s;
}
/* STYLE */
.container{
  width: 940px;
  max-height: 100vh;
  height: 650px;
  background: white;
}
/* con-left */
.container .con-left{
  flex-shrink: 1;
  flex-basis: 35%;
}
.con-left .cl-up{
  height: 50px;
}
.con-left .cl-notify{
  height: 65px;
}
.con-left .cl-search{
  height: 35px;
}
.cl-notify{
  background-color: #81e6f7;
}
.cl-notify > div{
  margin-left: 10px;
}
.cl-notify > div:first-of-type{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  justify-content: center;
  color: #81e6f7;
}
.cl-notify h3{
  font-size: 13px;
}
.cl-notify span{
  display: inline-block;
  font-size: 11px;
  text-decoration: underline;
  color: grey;
}
.cl-search{
  border: 5px solid #ececec;
}
.cl-search input{
  width: 100%;
  height: 100%;
}
.cl-search i{
  font-size: 13px;
  color: grey;
  margin: 0 10px;
}
/* con-right */
.container .con-right{
  flex-shrink: 1;
}
.con-right .cr-up{
  height: 50px;
}
.con-right .cr-down{
  height: 50px;
}
.con-right .cr-mid{
  background-image: url("../img/mine.jpg");
}
.cr-down{
  background-color: #efe9df;
  justify-content: space-around;
  align-items: center;
}
.cr-down input{
  height: 30px;
  padding: 7px;
  border-radius: 2px;
  width: 470px;
  max-width: 50vw;
}
