<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="utf-8">
    <title>boolzap</title>
  </head>
  <body class="flex">
  <div class="app flex border">
      <div class="con-left flex column border">
        <div class="cl-up bg-gray flex s-between">
          <div class="contact flex align"  >
            <img :src="'./img/avatar'+user.avatar+'.jpg'" class="pic">
            <h2 class="fSzContact" >{{user.name}}</h2>
          </div>
          <div>
            <ul class="list-style">
              <li>
                <i class="fas fa-circle-notch"></i>
              </li>
              <li>
                <i class="fas fa-comment-alt"></i>
              </li>
              <li>
                <i class="fas fa-ellipsis-v"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="cl-notify flex align">
          <div class="flex align" >
            <i class="fas fa-bell-slash"></i>
          </div>
          <div >
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <span>Attiva notifiche desktop</span>
          </div>
        </div>
        <div class="cl-search flex align">
          <i class="fas fa-search"></i>
          <input type="text" class="border" placeholder="Cerca o inizia una nuova chat">
        </div>
        <div class="cl-contacts flex column grow border">
          <div class="contact flex align" v-for="(item,index) in contacts" @click="appearChat(index)">
            <img :src="'./img/avatar'+item.avatar+'.jpg'" class="pic">
            <h2 class="fSzContact" >{{item.name}}</h2>
          </div>
        </div>
      </div>
      <div class="con-right flex column grow border">
        <div class="cr-up bg-gray flex s-between">
          <div class="contact flex align">
            <img :src="'./img/avatar'+contacts[contactActive].avatar+'.jpg'" class="pic">
            <div>
              <h2 class="fSzContact" >{{contacts[contactActive].name}}</h2>
              <h3>Ultimo accesso alle 10.35 </h3>
            </div>
          </div>

          <div>
            <ul class="list-style">
              <li>
                <i class="fas fa-search"></i>
              </li>
              <li>
                <i class="fas fa-paperclip"></i>
              </li>
              <li>
                <i class="fas fa-ellipsis-v"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="cr-mid grow" >
          <div id="chat" v-for="(item,index) in contacts[contactActive].messages">
            <div  v-if="item.status === 'sent' ">
              <div class="message sent">
                {{item.message}}
                <div class="date">
                  {{item.date}}
                </div>
              </div>
            </div>
            <div v-else="item.status === 'received' ">
              <div class="message">
                {{item.message}}
                <div class="date">
                  {{item.date}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="cr-down flex">
          <ul class="list-style">
            <li>
              <i class="far fa-smile"></i>
            </li>
          </ul>
          <input type="text" class="border" v-model="promptUser" v-on:keyup.enter="newStuff(contactActive)" placeholder="Scrivi un messaggio">
          <ul class="list-style">
            <li>
              <i class="fas fa-microphone"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- VUE.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- JAVASCRIPT LINK -->
    <script type="text/javascript" src="./js/main.js" ></script>
  </body>
</html>
